body {
  font-family: "Comfortaa", cursive;
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
h1,
h2 {
  text-shadow: 1px 1px 2px transparent;
  color: black;
  font-size: 20px;
}
header {
  text-align: right;
  margin-left: 160px;
  margin-right: 10px;
}
a {
  color: black;
  text-decoration: italics;
}
ol {
  margin-top: -30px;
}
li {
  list-style-type: none;
}
form {
  text-align: center;
}
.btn-cnt {
  text-align: left;
  margin-left: 30px;
}
#btnGo,
#btnSearch {
  margin: 0 auto;
  margin-top: 5px;
  padding: 1px 24px;
  background: linear-gradient(to right, rgb(252, 74, 26), rgb(247, 183, 51));
  color: black;
  font-size: 16px;
  border: 1px solid yellow;
  border-radius: 20px;
  box-shadow: 2px 2px 9px #2345;
  transition: all 500ms ease-in-out;
  text-shadow: 1px 1px 2px rgb(39, 38, 35);
}
button:hover {
  background: white;
  color: white;
  cursor: pointer;
}
#wrapper {
  width: 100%;
  clear: both;
  min-width: 500px;
  max-width: 500px;
  min-height: 50vh;
  margin-left: 0;
  box-sizing: border-box;
  position: relative;
}
.container {
  width: 70%;
  margin: 25px;
  padding: 25px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: content-box;
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: 2px 2px 15px white;
  color: white;
  display: block;
}
.container-h2 {
  box-sizing: content-box;
  width: 100%;
  margin-top: -90px;
  margin-left: 25px;
}

#fahTemp,
#celTemp,
#tempdivider {
  font-size: 12px;
  text-decoration: none;
  cursor: default;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
#city {
  font-size: 20px;
  text-shadow: 1px 1px 2px cornsilk;
}
.details-0,
.details,
#details {
  font-size: 12px;
  text-shadow: 1px 1px 2px cornsilk;
}
.details {
  padding-left: -10px;
  margin-left: -50px;
}
.forecast-type {
  text-align: center;
  margin-top: -10px;
  padding: 1px;
  font-size: 18px;
  text-shadow: 1px 1px 2px black;
}
.five-days {
  padding-left: 10px;
  padding-top: 20px;
  font-size: 19px;
}
.day {
  padding: 5px;
  font-size: 15px;
  text-shadow: 1px 1px 2px black;
}
input[type="search" i] {
  padding: 15px 20px;
  text-shadow: 1px 1px 2px cornsilk;
}
#searchinput {
  padding: 0 50px;
}
.repo,
.name {
  font-size: 10px;
  color: black;
  padding-top: -10px;
  margin-top: -10px;
}
.repo {
  padding-left: 30px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
